<div class="movie-card mb-4">
    <div class="card" style="width: 18rem;">
        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/movie-night-facebook-video-post-flyer-template-aaf731562408d38bd01f1bb9fe47af4c_screen.jpg?ts=1567092997" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Movie Title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p>
                <span class="bg-success p-2 text-light movie-genre"> friction </span>
                <span class="bg-success p-2 text-light movie-genre"> adventure </span>
            </p>
        </div>
    </div>
</div>